body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

nav {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: pink;
}

figcaption {
  font-size: 12px;
  text-align: center;
}

#featured-property p{
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

#details {
  display: block;
}

#details div{
  float: left;
  background-color: grey;
  text-align: center;
  width: 25%;
}



